In [53]:
import pandas as pd

# Read the JSONL file
houses = pd.read_json("data/houses.jsonl", lines=True)
agents = pd.read_json("data/agents.jsonl", lines=True)
districts = pd.read_json("data/districts.jsonl", lines=True)
schools = pd.read_json("data/schools.jsonl", lines=True)

In [54]:
houses.describe()

,bathrooms,condition_rating,days_on_marked,external_storage_m2,kitchens,lot_w,price,remodeled,size,storage_rating,sun_factor,year
count,2552.000000,2552.000000,2552.000000,2552.000000,2552.000000,2552.000000,2.552000e+03,2552.000000,2552.000000,2552.000000,2552.000000,2518.000000
mean,2.010188,5.508621,23.546708,3.438871,1.313871,44.412618,1.091917e+07,1180.107367,120.269984,5.043495,0.598994,1989.989674
std,0.906386,1.516124,28.629467,6.326986,0.464156,36.582586,6.027870e+07,994.128042,77.418743,2.897313,0.132911,19.611338
min,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,4.529200e+05,-1.000000,8.000000,0.000000,0.200000,1917.000000
25%,1.000000,5.000000,4.100000,0.000000,1.000000,0.000000,2.724522e+06,-1.000000,48.000000,3.000000,0.505750,1977.000000
50%,2.000000,6.000000,5.650000,0.000000,1.000000,45.000000,8.468568e+06,2015.000000,117.000000,5.000000,0.595000,1993.000000
75%,3.000000,7.000000,35.500000,6.000000,2.000000,67.000000,1.270388e+07,2017.000000,168.000000,8.000000,0.690000,2005.000000
max,5.000000,10.000000,100.000000,29.000000,2.000000,200.000000,2.147484e+09,2021.000000,395.000000,10.000000,1.000000,2022.000000

In [55]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2552 entries, 0 to 2551
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   advertisement        2552 non-null   object
 1   agent_id             2552 non-null   object
 2   bathrooms            2552 non-null   int64
 3   color                2552 non-null   object
 4   condition_rating     2552 non-null   int64
 5   days_on_marked       2552 non-null   float64
 6   district_id          2552 non-null   object
 7   external_storage_m2  2552 non-null   int64
 8   fireplace            2552 non-null   object
 9   kitchens             2552 non-null   int64
 10  lot_w                2552 non-null   int64
 11  parking              2552 non-null   object
 12  price                2552 non-null   int64
 13  remodeled            2552 non-null   int64
 14  rooms                2552 non-null   object
 15  school_id            2552 non-null   object
 16  size                 2552 non-null   int64
 17  sold                 2552 non-null   object
 18  sold_in_month        2552 non-null   object
 19  storage_rating       2552 non-null   int64
 20  sun_factor           2552 non-null   float64
 21  year                 2518 non-null   float64
dtypes: float64(3), int64(9), object(10)
memory usage: 438.8+ KB

In [56]:
houses["advertisement"].value_counts()
houses["agent_id"].value_counts()
houses["bathrooms"].value_counts()
houses["color"].value_counts()
houses["condition_rating"].value_counts()
houses["days_on_marked"].value_counts()
houses["district_id"].value_counts()
houses["external_storage_m2"].value_counts()
houses["fireplace"].value_counts()
houses["kitchens"].value_counts()
houses["lot_w"].value_counts()
houses["parking"].value_counts()
houses["price"].value_counts()
houses["remodeled"].value_counts()
houses["rooms"].value_counts()
houses["school_id"].value_counts()
houses["size"].value_counts()
houses["sold"].value_counts()
houses["sold_in_month"].value_counts()
houses["storage_rating"].value_counts()
houses["sun_factor"].value_counts()
houses["year"].value_counts()

year
1999.0    66
1992.0    65
2002.0    62
1998.0    58
2006.0    57
          ..
1927.0     1
1928.0     1
1917.0     1
1930.0     1
1919.0     1
Name: count, Length: 96, dtype: int64

In [57]:
import pickle

PARAMS = "pickle/parameters.pkl"
DISTRICT = "pickle/district_linkage.pkl"
AGENTS = "pickle/agent_names.pkl"
THETA_PRICE_MODEL = "pickle/theta_price_model.pkl"
THETA_DAYS_MODEL = "pickle/theta_days_model.pkl"
PRICE_FEATURES = "pickle/price_features.pkl"
SOLDTIME_FEATURES = "pickle/soldtime_features.pkl"

def print_pickle_file(file_path):
    with open(file_path, "rb") as f:
        data = pickle.load(f)
    print(data)

In [58]:
print_pickle_file(PARAMS)

{'bathrooms': {'mean': np.float64(2.0101960784313726), 'std': np.float64(0.9065631937699361)}, 'condition_rating': {'mean': np.float64(5.508627450980392), 'std': np.float64(1.5163565978342508)}, 'external_storage_m2': {'mean': np.float64(3.4415686274509802), 'std': np.float64(6.3274935013792115)}, 'kitchens': {'mean': np.float64(1.3137254901960784), 'std': np.float64(0.46400625749800917)}, 'lot_w': {'mean': np.float64(61.32274509803921), 'std': np.float64(23.04079400851603)}, 'rooms': {'mean': np.float64(2.139607843137255), 'std': np.float64(0.5848745827829621)}, 'size': {'mean': np.float64(120.2764705882353), 'std': np.float64(77.42805917965119)}, 'storage_rating': {'mean': np.float64(5.043137254901961), 'std': np.float64(2.8970069004338064)}, 'school_age': {'mean': np.float64(57.63294117647059), 'std': np.float64(22.247206768413417)}, 'house_age': {'mean': np.float64(34.95647058823529), 'std': np.float64(19.47908046542615)}, 'remodel_age': {'mean': np.float64(17.429803921568627), 'std': np.float64(15.950154402128819)}, 'district_crime_rating': {'mean': np.float64(2.9145098039215687), 'std': np.float64(1.2070646842090391)}, 'district_public_transport_rating': {'mean': np.float64(2.2298039215686276), 'std': np.float64(0.42070664268621616)}, 'school_rating': {'mean': np.float64(2.8116078316464144), 'std': np.float64(0.755429105718984)}, 'school_capacity': {'mean': np.float64(37.19098039215686), 'std': np.float64(25.244964495363515)}, 'sun_factor': {'mean': np.float64(0.5990749020903718), 'std': np.float64(0.13285035494231662)}, 'price': {'mean': np.float64(9243429.314117648), 'std': np.float64(7198533.518315625)}, 'price_relative': {'mean': np.float64(1.0869173315357343), 'std': np.float64(0.8446803512431285)}, 'price_per_m2': {'mean': np.float64(72856.82856004902), 'std': np.float64(15913.403278710628)}, 'days_on_market': {'mean': np.float64(23.538588206768036), 'std': np.float64(28.631735852294433)}}

In [59]:
print_pickle_file(DISTRICT)

{'f987fd63b94d4a03aafdf4b1a9c71107': {'crime_rating': 5, 'public_transport_rating': 3, 'schools': [{'id': '8169505b6a3c4799b4b8e0e58565615f', 'district_id': 'f987fd63b94d4a03aafdf4b1a9c71107', 'built_year': 1979, 'rating': 1.8, 'capacity': 13, 'school_age': 46}]}, 'dc287dadff314814820067ee82c247d7': {'crime_rating': 2, 'public_transport_rating': 2, 'schools': [{'id': 'aac9975d197d4e869e1b99e815059655', 'district_id': 'dc287dadff314814820067ee82c247d7', 'built_year': 1997, 'rating': 3.3, 'capacity': 59, 'school_age': 28}, {'id': 'a8cc9945fa40465889e73e96aedc312c', 'district_id': 'dc287dadff314814820067ee82c247d7', 'built_year': 1947, 'rating': 3.7, 'capacity': 28, 'school_age': 78}]}, 'c32fac32b21a44c89c8d818b7c1002d7': {'crime_rating': 3, 'public_transport_rating': 2, 'schools': [{'id': '42f0bd510b404321836de9c911a4b018', 'district_id': 'c32fac32b21a44c89c8d818b7c1002d7', 'built_year': 1949, 'rating': 1.9, 'capacity': 27, 'school_age': 76}, {'id': 'a9493f1ad05a4701a96f96acc73b7fc6', 'district_id': 'c32fac32b21a44c89c8d818b7c1002d7', 'built_year': 1976, 'rating': 3.5, 'capacity': 68, 'school_age': 49}, {'id': '1e9b459517314184aaebc8b7479e1e86', 'district_id': 'c32fac32b21a44c89c8d818b7c1002d7', 'built_year': 1934, 'rating': 2.8, 'capacity': 22, 'school_age': 91}]}, '86ccb52721164b988b2ca672c9d3d9b7': {'crime_rating': 2, 'public_transport_rating': 2, 'schools': [{'id': '57f3502d3c894c0ea6f3857652d33447', 'district_id': '86ccb52721164b988b2ca672c9d3d9b7', 'built_year': 2000, 'rating': 3.4, 'capacity': 72, 'school_age': 25}, {'id': '5fbee600702541eba8cea262d91c8724', 'district_id': '86ccb52721164b988b2ca672c9d3d9b7', 'built_year': 1983, 'rating': 2.2, 'capacity': 49, 'school_age': 42}, {'id': '3131d9e0f47b4ff6b6db08e23113fc0c', 'district_id': '86ccb52721164b988b2ca672c9d3d9b7', 'built_year': 1947, 'rating': 3.5, 'capacity': 3, 'school_age': 78}, {'id': '32630bce798949dba8fb7d3bebef72d7', 'district_id': '86ccb52721164b988b2ca672c9d3d9b7', 'built_year': 1937, 'rating': 3.1, 'capacity': 88, 'school_age': 88}]}}

In [60]:
print_pickle_file(AGENTS)

['Alice Vadasy', 'Rhonda Bowers', 'Pedro Sasser', 'Porfirio Wueste', 'Donna Mcclintock', 'Frank Schmidt', 'John Rios', 'Michael Hanners', 'John Jimenez', 'Frank Scheetz', 'Donald Campbell', 'Kirsten Webb', 'Michael Rowland', 'Charlotte Nodine', 'Ann Perez', 'Shirley Delrio', 'Lucy Moffatt', 'Gonzalo Ramos', 'Cheryl Dunlap', 'Mary Chavez', 'Pat Daniels', 'Johnnie Stanley', 'Misty Wallace', 'Gregory Dixon']

In [61]:
print_pickle_file(THETA_PRICE_MODEL)

[-0.00563081  0.16410107 -0.07016216 -0.16901412  0.04799093  0.30131657
 -0.03370952  0.37639299  0.05323195  0.02435912  0.04483136 -0.08854808
  0.0523952   0.03444384 -0.0359142   0.02346276  0.06703884 -0.04766641
  0.00138321 -0.00464917 -0.023193   -0.00138833 -0.02851599  0.03339764
 -0.02237793  0.04109598]

In [62]:
print_pickle_file(THETA_DAYS_MODEL)

[ 0.05183174  0.73033922  0.69765789 -0.07340791  0.03840842 -0.32802511
  0.02119748 -1.1202644  -0.0301299  -0.08815594 -0.00791616 -0.01323847
 -0.01787653 -0.03725211  0.04265968 -0.02596361  0.02378342  0.03881763
 -0.03045323  0.04346734  0.17884328  0.07376633  0.08174203 -0.05964512
 -0.19161208 -0.30052678 -0.05755156 -0.1126833   0.04024737 -0.05054629
  0.19061407  0.25918381 -0.10085883 -0.04311851 -0.12224717 -0.1217633
 -0.03553333 -0.03858367 -0.11954675  0.0732629   0.20436844 -0.01304694
  0.17303579 -0.02677974 -0.17599529  0.0183369   0.06555474 -0.16004882
 -0.02358264  0.0584796  -0.0516343   0.33816624 -0.1920988   0.12911242
  0.13611186  0.08024093]

In [63]:
print_pickle_file(PRICE_FEATURES)

['bathrooms', 'condition_rating', 'external_storage_m2', 'kitchens', 'lot_w', 'rooms', 'size', 'storage_rating', 'school_age', 'house_age', 'remodel_age', 'fireplace', 'parking', 'district_crime_rating', 'district_public_transport_rating', 'school_rating', 'school_capacity', 'sun_factor', 'color_black', 'color_blue', 'color_gray', 'color_green', 'color_red', 'color_unknown', 'color_white']

In [64]:
print_pickle_file(SOLDTIME_FEATURES)

['price', 'price_relative', 'price_per_m2bathrooms', 'condition_rating', 'kitchens', 'lot_w', 'rooms', 'size', 'fireplace', 'parking', 'house_age', 'remodel_age', 'sun_factor', 'district_crime_rating', 'district_public_transport_rating', 'school_rating', 'school_capacity', 'adv_no', 'adv_premium', 'adv_regular', 'month_January', 'month_February', 'month_March', 'month_April', 'month_May', 'month_June', 'month_July', 'month_August', 'month_September', 'month_October', 'month_November', 'month_December', 'agent_Alice Vadasy', 'agent_Ann Perez', 'agent_Charlotte Nodine', 'agent_Cheryl Dunlap', 'agent_Donald Campbell', 'agent_Donna Mcclintock', 'agent_Frank Scheetz', 'agent_Frank Schmidt', 'agent_Gonzalo Ramos', 'agent_Gregory Dixon', 'agent_John Jimenez', 'agent_John Rios', 'agent_Johnnie Stanley', 'agent_Kirsten Webb', 'agent_Lucy Moffatt', 'agent_Mary Chavez', 'agent_Michael Hanners', 'agent_Michael Rowland', 'agent_Misty Wallace', 'agent_Pat Daniels', 'agent_Pedro Sasser', 'agent_Porfirio Wueste', 'agent_Rhonda Bowers', 'agent_Shirley Delrio']