In [1]:
import pandas as pd

# Read the JSONL file
houses = pd.read_json("data/houses.jsonl", lines=True)
agents = pd.read_json("data/agents.jsonl", lines=True)
districts = pd.read_json("data/districts.jsonl", lines=True)
schools = pd.read_json("data/schools.jsonl", lines=True)

In [2]:
houses.describe()

,bathrooms,condition_rating,days_on_marked,external_storage_m2,kitchens,lot_w,price,remodeled,size,storage_rating,sun_factor,year
count,2552.000000,2552.000000,2552.000000,2552.000000,2552.000000,2552.000000,2.552000e+03,2552.000000,2552.000000,2552.000000,2552.000000,2518.000000
mean,2.010188,5.508621,23.546708,3.438871,1.313871,44.412618,1.091917e+07,1180.107367,120.269984,5.043495,0.598994,1989.989674
std,0.906386,1.516124,28.629467,6.326986,0.464156,36.582586,6.027870e+07,994.128042,77.418743,2.897313,0.132911,19.611338
min,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,4.529200e+05,-1.000000,8.000000,0.000000,0.200000,1917.000000
25%,1.000000,5.000000,4.100000,0.000000,1.000000,0.000000,2.724522e+06,-1.000000,48.000000,3.000000,0.505750,1977.000000
50%,2.000000,6.000000,5.650000,0.000000,1.000000,45.000000,8.468568e+06,2015.000000,117.000000,5.000000,0.595000,1993.000000
75%,3.000000,7.000000,35.500000,6.000000,2.000000,67.000000,1.270388e+07,2017.000000,168.000000,8.000000,0.690000,2005.000000
max,5.000000,10.000000,100.000000,29.000000,2.000000,200.000000,2.147484e+09,2021.000000,395.000000,10.000000,1.000000,2022.000000

In [3]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2552 entries, 0 to 2551
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   advertisement        2552 non-null   object
 1   agent_id             2552 non-null   object
 2   bathrooms            2552 non-null   int64
 3   color                2552 non-null   object
 4   condition_rating     2552 non-null   int64
 5   days_on_marked       2552 non-null   float64
 6   district_id          2552 non-null   object
 7   external_storage_m2  2552 non-null   int64
 8   fireplace            2552 non-null   object
 9   kitchens             2552 non-null   int64
 10  lot_w                2552 non-null   int64
 11  parking              2552 non-null   object
 12  price                2552 non-null   int64
 13  remodeled            2552 non-null   int64
 14  rooms                2552 non-null   object
 15  school_id            2552 non-null   object
 16  size                 2552 non-null   int64
 17  sold                 2552 non-null   object
 18  sold_in_month        2552 non-null   object
 19  storage_rating       2552 non-null   int64
 20  sun_factor           2552 non-null   float64
 21  year                 2518 non-null   float64
dtypes: float64(3), int64(9), object(10)
memory usage: 438.8+ KB

In [4]:
houses["advertisement"].value_counts()
houses["agent_id"].value_counts()
houses["bathrooms"].value_counts()
houses["color"].value_counts()
houses["condition_rating"].value_counts()
houses["days_on_marked"].value_counts()
houses["district_id"].value_counts()
houses["external_storage_m2"].value_counts()
houses["fireplace"].value_counts()
houses["kitchens"].value_counts()
houses["lot_w"].value_counts()
houses["parking"].value_counts()
houses["price"].value_counts()
houses["remodeled"].value_counts()
houses["rooms"].value_counts()
houses["school_id"].value_counts()
houses["size"].value_counts()
houses["sold"].value_counts()
houses["sold_in_month"].value_counts()
houses["storage_rating"].value_counts()
houses["sun_factor"].value_counts()
houses["year"].value_counts()

year
1999.0    66
1992.0    65
2002.0    62
1998.0    58
2006.0    57
          ..
1927.0     1
1928.0     1
1917.0     1
1930.0     1
1919.0     1
Name: count, Length: 96, dtype: int64